<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=BPMDB57P;Integrated Security=False;User ID=sa;Password=123456"/>
    
    <!--<add key="ConnectionString" value="Data Source=192.168.1.132;Initial Catalog=BPMDB;Integrated Security=False;User ID=sa;Password=slick2000#"/>-->
    <add key="DBType" value="SqlServer"/>
    <add key="APIUrl" value="http://192.168.1.16/K3API/"/>
    <add key="APICode" value="8146c819ba878d886cc9926ed22e842ff4d1695bdbe9bd86"/>
    <add key="APICodePart" value="23f3c7a3a306955f9510682546273e4141aa20867708ca3e"/>
    <add key="K3ConnectionString" value="Data Source=192.168.1.16;Initial Catalog=AIS20180304150946;Integrated Security=False;User ID=sa;Password=slick2000#"/>
    <add key="K3BranchConnectionString" value="Data Source=192.168.1.16;Initial Catalog=AIS20160323134550;Integrated Security=False;User ID=sa;Password=slick2000#"/>
    <add key="CustomCodeType" value="JZCUS"/>
    <add key="CreditRoleName" value="采购部负责人@供应链部负责人"/>
    <!--<add key="AccessDBPath" value="D:\MyPrj\2018_苏州矩度\attBackup.mdb"/>-->
  </appSettings>
</configuration>